*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: sans-serif
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
   
   }
     

   li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
   }

   a{
    text-decoration: none;
    font-size: 13px;
    color: purple;
    font-weight: 600;
   }

   a:hover{
    color: black;
   }

   
  

   .check{
    padding-bottom: 50px;
    
    font-size: 15px;
    color: purple;
   }

  .contenedor{
    width: 50%;
    height: 60%;
    padding: 20px 20px 20px 20px;
    margin: 20PX 20PX 20PX 60PX;
    background-color: rgb(245, 242, 248);
    border-radius: 20px;

   }

   #formulario{
    background-color: rgb(245, 242, 248);
    width: 100%;
    padding: 30px 30px 40px 30px;
    border-radius: 40px;
   }

 form label{
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    padding-top: 20px;
    font-weight: 550;
    letter-spacing: 2px;
    color: rgb(129, 70, 79);
 }

 form input{
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 10px;
    height: 30px;
    width: 50%;
 }

 #inputmes{
    width: 10%;
 }

 #inputano{
    width: 10%;
 }

 .label{
   font-size: 17px;
   margin-bottom: 10px;
 }
 
 .input{
   font-size: 15px;
 }



 .btn{
    background-color: rgb(158, 67, 243);
    color: white;
    border-radius: 50px;
    width: 30%;
    border: 2px solid rgb(100, 33, 167);
    margin-top: 25px;
    margin-left: 36%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
       }

   .confirmar{
      display: flex;
      justify-content: center;
      background-color: rgb(158, 67, 243);
      padding: 10px 25px;
      color: white;
      border-radius: 50px;
      border: 2px solid rgb(100, 33, 167);
      margin-top: 50px;
      text-align: center;
      cursor: pointer;
      width: 45%;
      margin-left: auto;
      margin-right: auto;
   }

   .btn:hover{
        color: black;
        transition: 0.5s;
   }

   .cvc{
    width: 15%;
   }

   .disabled {
    display: none;
   }

   #gracias{
      width: 500px;
      height: 500px;
      padding: 80px 60px 20px 60px;
      margin: auto;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
   }

     .final{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      margin-top: 40px;
      display: flex;
      justify-content: center; 
   }

   .fin{
     
     text-align: center;
   }
   .texto-final{
    text-align: center;
   }





   #tarjeta{
      border-radius: 15px;
      color: rgb(129, 70, 79);
   }

   .tarjeta{
     display: flex;
     float: right;
     flex-direction: column;
     margin-right: 80px;
     margin-top: 50px;
     font-size: 20px;
     }

    .atras-tarjeta{
      position: relative;
      
    }
    
    .atras-tarjeta-data{
      background-color: transparent;
      position: absolute;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: end;
      padding-right: 70px;
      padding-bottom: 40px;  
    }

    


    .frente-tarjeta{
         position: relative; 
    }

    .frente-tarjeta-data{
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 1rem;
      justify-content: space-between;
      padding-bottom: 40px;
      padding-top: 70px;
    }

    .frente-tarjeta-numero{
      padding-left: 80px;
      padding-top: 10px;
    }
   

    .frente-tarjeta-nombre{
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-transform: uppercase;
    }



    footer{
        width: 100%;
        background-color: rgb(195, 146, 240);
        display: flex;
        font-size: 13px;
        justify-content: space-around;
        margin-top: 70px;

    }

    .pie{
        width: 30%;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 150px;
        
    }

    .red-social{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        
        
    }
    
    .titulo{
        margin-bottom: 5px;
    }

    .imag{
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-left: 40px;
        margin-top: 10px;
    }


    .pie2{
        padding: 15px 10px;
        text-align: center;
        font-size: 13px;
    }

    